<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>RSScollection</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <h1 th:text="${session.currentUser.getName()}"></h1>
    <div th:if="${session.currentUser.getPassword()} ne 'null'">
        <h1 th:text="${session.currentUser.getName()}"></h1>
    </div>
    <div class="post">
        <h1 th:text="'title = ' + ${title}"></h1>
        <p th:text="'entries =' + ${entries.get(0).getTitle()}"></p>
        <ul th:each="entrie, iterStat:${entries}">
            <li th:text="${entrie.getTitle()}"></li>
            <li th:text="${entrie.getLink()}">链接</li>
            <li><a th:href="@{${entrie.getLink()}}"><p th:text="${entrie.getTitle()}"></p></a></li>
        </ul>
    </div>
    <div class="add">
        <h2>注册新账号</h2>
        <form action="/signup" method="GET">
            用户名:<input type="text" name="name"><br>
            密码:<input type="password" name="password"><br>
            <input type="submit" value="注册">
        </form>
    </div>
    <div class="login">
        <h2>登陆已有账号</h2>
        <form action="/login" method="GET">
            名字:<input type="text" name="name"><br>
            密码:<input type="password" name="password"><br>
            <input type="submit" value="登陆">
        </form>
    </div>
    <div class="all">
        <h2><a href="/all">查看所有注册账号信息</a></h2>
    </div>
</body>

</html>