<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.RSScollection.demo.RSScollection.models.User">

    <resultMap type="com.RSScollection.demo.RSScollection.models.User" id="userMap">					
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="password" column="password"/>
        <result property="rssurl" column="rssurl" typeHandler="com.RSScollection.demo.RSScollection.BlobTypeHandle"/>
	</resultMap>

    <select id="findByName" parameterType="string" resultMap="userMap">
        SELECT * FROM user WHERE name = #{name};
    </select>

    <select id="findById" parameterType="int" resultMap="userMap">
        SELECT * FROM user WHERE id = #{id};
    </select>

    <insert id="saveUser" parameterType="com.RSScollection.demo.RSScollection.models.User" 
        keyProperty="id"  useGeneratedKeys="true">
        INSERT INTO user (name, password) VALUES (#{name}, #{password});
    </insert>

    <update id="update">
        UPDATE user set 
            name = #{name},
            rssurl = #{rssurl}, 
            password = #{password}
        WHERE id = #{id};
    </update>

</mapper>